<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tic Tac Toe</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Tic Tac Toe</h1>


      <!-- Display player score -->
      <div class="scores">
          <p>Player 1 (x) Score: {{ scores['Player 1'] }}</p>
          <p>Player 2 (0) Score: {{ scores['player 2'] }}</p>
      </div>

      <!-- Tic-Tac-Toe board -->
      <div class="board">
        {% for index in range(9) %}
        <a href="{{ url_for('play', cell=index) }}" class="cell">{{ board[index] }}</a>
        {% endfor %}
      </div>

      <!-- Display the result or current player -->
      {% if winner %}
      <p class="result">Player {{ winner }} wins!</p>
      {% elif draw %}
      <p class="result">It's a draw!</p>
      {% else %}
      <p class="current-player">Current Player: {{ current_player }}</p>
      {% endif %}

      <!-- Reset game button -->
      <a href="{{ url_for('reset') }}" class="reset-button">Reset Game</a>
    </div>
  </body>
</html>
